@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>Developed by @ViewData["Name"]</p>
<address><strong>e-mail de contato: </strong> <a href="mailto:henioajunior@gmail.com">henioajunior@gmail.com</a></address>
